---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: |-
        {
          "code": "unfound_resource",
          "kind": "error",
          "error": "The object you tried to access could not be found.  It may have been removed by another user, you may be using the ID of another object type, or you may be trying to access a sub-resource at the wrong point in a tree."
        }
  recorded_at: Thu, 08 May 2014 19:41:42 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
      X-Tracker-Pagination-Total:
      - '23'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '23'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 68391762,
            "created_at": "2014-02-07T07:00:00Z",
            "updated_at": "2014-03-27T19:37:01Z",
            "accepted_at": "2014-03-27T19:36:59Z",
            "story_type": "chore",
            "name": "setup github repo",
            "description": "https://help.github.com/articles/create-a-repo\n\nPick a person's account to create it under.",
            "current_state": "accepted",
            "requested_by_id": 1256938,
            "project_id": 1047448,
            "url": "https://www.pivotaltracker.com/story/show/68391762",
            "owner_ids": [
              1256938
            ],
            "labels": [

            ],
            "owned_by_id": 1256938
          },
          {
            "kind": "story",
            "id": 68391764,
            "created_at": "2014-02-07T07:00:00Z",
            "updated_at": "2014-03-27T20:07:12Z",
            "accepted_at": "2014-03-27T20:07:07Z",
            "story_type": "chore",
            "name": "create staging heroku app",
            "current_state": "accepted",
            "requested_by_id": 1256938,
            "project_id": 1047448,
            "url": "https://www.pivotaltracker.com/story/s[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories/68391762/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 20:05:15 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories/68391768/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 65552688,
            "story_id": 68391768,
            "text": "A great start. Please see if you can bump the button to be more centered under the text box. Don't spend more than 15 minutes on it.",
            "person_id": 1234268,
            "created_at": "2014-03-28T14:27:37Z",
            "updated_at": "2014-03-28T14:27:37Z"
          },
          {
            "kind": "comment",
            "id": 65625536,
            "story_id": 68391768,
            "text": "Please make the font in the text field and on the button a bit bigger, maybe 24px?",
            "person_id": 1234268,
            "created_at": "2014-03-30T14:29:47Z",
            "updated_at": "2014-03-30T14:29:47Z"
          },
          {
            "kind": "comment",
            "id": 65701046,
            "story_id": 68391768,
            "text": "Reformatted the CSS. Please let me know if this looks better?",
            "person_id": 1256938,
            "created_at": "2014-03-31T18:01:42Z",
            "updated_at": "2014-03-31T18:01:42Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 20:05:17 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories/68391802/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 20:05:21 GMT
recorded_with: VCR 2.9.0
