---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - c6ea5374dcf0742be48c4f9a8604262c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
      X-Tracker-Pagination-Total:
      - '23'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '23'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 68391762,
            "created_at": "2014-02-07T07:00:00Z",
            "updated_at": "2014-03-27T19:37:01Z",
            "accepted_at": "2014-03-27T19:36:59Z",
            "story_type": "chore",
            "name": "setup github repo",
            "description": "https://help.github.com/articles/create-a-repo\n\nPick a person's account to create it under.",
            "current_state": "accepted",
            "requested_by_id": 1256938,
            "project_id": 1047448,
            "url": "https://www.pivotaltracker.com/story/show/68391762",
            "owner_ids": [
              1256938
            ],
            "labels": [

            ],
            "owned_by_id": 1256938
          },
          {
            "kind": "story",
            "id": 68391764,
            "created_at": "2014-02-07T07:00:00Z",
            "updated_at": "2014-03-27T20:07:12Z",
            "accepted_at": "2014-03-27T20:07:07Z",
            "story_type": "chore",
            "name": "create staging heroku app",
            "current_state": "accepted",
            "requested_by_id": 1256938,
            "project_id": 1047448,
            "url": "https://www.pivotaltracker.com/story/s[...]
