---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1047448,
            "kind": "project",
            "name": "URL Shortner",
            "version": 57,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Denver",
              "offset": "-06:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-03-24T06:00:00Z",
            "created_at": "2014-03-27T19:07:49Z",
            "updated_at": "2014-03-27T19:07:49Z",
            "account_id": 622224,
            "current_iteration_number": 7,
            "enable_following": true
          },
          {
            "id": 1075514,
            "kind": "project",
            "name": "wenig and leistikow's Tracker hub",
            "version": 24,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
             [...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
      X-Tracker-Pagination-Total:
      - '23'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '23'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 68391762,
            "created_at": "2014-02-07T07:00:00Z",
            "updated_at": "2014-03-27T19:37:01Z",
            "accepted_at": "2014-03-27T19:36:59Z",
            "story_type": "chore",
            "name": "setup github repo",
            "description": "https://help.github.com/articles/create-a-repo\n\nPick a person's account to create it under.",
            "current_state": "accepted",
            "requested_by_id": 1256938,
            "project_id": 1047448,
            "url": "https://www.pivotaltracker.com/story/show/68391762",
            "owner_ids": [
              1256938
            ],
            "labels": [

            ],
            "owned_by_id": 1256938
          },
          {
            "kind": "story",
            "id": 68391764,
            "created_at": "2014-02-07T07:00:00Z",
            "updated_at": "2014-03-27T20:07:12Z",
            "accepted_at": "2014-03-27T20:07:07Z",
            "story_type": "chore",
            "name": "create staging heroku app",
            "current_state": "accepted",
            "requested_by_id": 1256938,
            "project_id": 1047448,
            "url": "https://www.pivotaltracker.com/story/s[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories/68391762/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 21:16:12 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories/68391768/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 65552688,
            "story_id": 68391768,
            "text": "A great start. Please see if you can bump the button to be more centered under the text box. Don't spend more than 15 minutes on it.",
            "person_id": 1234268,
            "created_at": "2014-03-28T14:27:37Z",
            "updated_at": "2014-03-28T14:27:37Z"
          },
          {
            "kind": "comment",
            "id": 65625536,
            "story_id": 68391768,
            "text": "Please make the font in the text field and on the button a bit bigger, maybe 24px?",
            "person_id": 1234268,
            "created_at": "2014-03-30T14:29:47Z",
            "updated_at": "2014-03-30T14:29:47Z"
          },
          {
            "kind": "comment",
            "id": 65701046,
            "story_id": 68391768,
            "text": "Reformatted the CSS. Please let me know if this looks better?",
            "person_id": 1256938,
            "created_at": "2014-03-31T18:01:42Z",
            "updated_at": "2014-03-31T18:01:42Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 21:16:13 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories/68391802/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 21:16:18 GMT
recorded_with: VCR 2.9.0
