---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1075514,
            "kind": "project",
            "name": "wenig and leistikow's Tracker hub",
            "version": 14,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Denver",
              "offset": "-06:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-05-05T06:00:00Z",
            "created_at": "2014-05-07T19:13:50Z",
            "updated_at": "2014-05-07T19:13:50Z",
            "account_id": 622224,
            "current_iteration_number": 1,
            "enable_following": true
          },
          {
            "id": 1047448,
            "kind": "project",
            "name": "URL Shortner",
            "version": 57,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1047448/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '57'
      X-Tracker-Pagination-Total:
      - '23'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '23'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 68391762,
            "created_at": "2014-02-07T07:00:00Z",
            "updated_at": "2014-03-27T19:37:01Z",
            "accepted_at": "2014-03-27T19:36:59Z",
            "story_type": "chore",
            "name": "setup github repo",
            "description": "https://help.github.com/articles/create-a-repo\n\nPick a person's account to create it under.",
            "current_state": "accepted",
            "requested_by_id": 1256938,
            "project_id": 1047448,
            "url": "https://www.pivotaltracker.com/story/show/68391762",
            "owner_ids": [
              1256938
            ],
            "labels": [

            ],
            "owned_by_id": 1256938
          },
          {
            "kind": "story",
            "id": 68391764,
            "created_at": "2014-02-07T07:00:00Z",
            "updated_at": "2014-03-27T20:07:12Z",
            "accepted_at": "2014-03-27T20:07:07Z",
            "story_type": "chore",
            "name": "create staging heroku app",
            "current_state": "accepted",
            "requested_by_id": 1256938,
            "project_id": 1047448,
            "url": "https://www.pivotaltracker.com/story/s[...]
